<div>
  <div
style="
  background-image: url('../assets/img/home.jpg');
  background-size: 100% 100%;
"
class="max-w-[80%]   rounded-lg flex items-center mt-6 bg-no-repeat bg-cover m-auto p-3 h-[400px]"
>
<div class="ml-[15px]">
<h1
class="font-bold footernav md:text-[40px] hidden text-white sm:text-[30px] max-w-[300px]">Let Your style
Be Unique</h1>
<h1
class="max-w-[400px] footernav text-[18px] hidden text-white">There are many variations of the passages of
lorem Ipsum fromavailable, majority.</h1>

<button
class="bg-transparent mt-2 footernav bg-black hidden hover:bg-black-500 text-white font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded-md p-2">
  Get Started ->
</button>
</div>
</div>
<h1 id="btn" class="max-w-[80%]  hidden	  m-auto p-6 text-center text-blue-500 text-bold text-[35px]">Dream Store </h1>
 <app-categorysrondom></app-categorysrondom>
 <center class="p-5 border mt-[40px] border-blue-400 cursor-pointer text-[23px] rounded-lg hover:bg-blue-300 m-auto mb-2 max-w-[80%]" routerLink="/products">let`s shoping</center>


 <div class="max-w-[80%] mt-[100px]  m-auto" >
  <div class="grid sm:grid-cols-1 md:grid-cols-2">
    <div><h1 class="w-[300px] font-bold text-[22px] ">We Create The Art
      Of Stylish Living
      Stylishly</h1> <p class="">It is a long established fact that a reader will be distracted by the of readable content of a page
        when lookings at its layouts the points of using
        that it has a more-or-less normal.</p>
        <button class="bg-black mt-4 mb-3  text-white rounded-lg p-2  w-[150px]">

          Get Free Estimate</button>
    </div>
    <div><img class=" rounded-xl" src="../../../../assets/img/cards22.png" alt=""></div>

  </div>
 </div>
</div>
